<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="center">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>HEADER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Today's Total : 500$</ion-card-title>
      <ion-card-subtitle>
        Date
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>

    <ion-footer>
      <ion-row>
        <ion-col slze="3">
          <ion-button expand="full" fill="clear">Today</ion-button>
        </ion-col>
        <ion-col slze="3">
          <ion-button expand="full" fill="clear">Date</ion-button>
        </ion-col>
        <ion-col slze="3">
          <ion-button expand="full" fill="clear">Category</ion-button>
        </ion-col>
        <ion-col slze="3">
          <ion-button expand="full" fill="clear">Amount</ion-button>
        </ion-col>

      </ion-row>
    </ion-footer>
  </ion-card>
  <ion-card>
    <!-- <ion-card-content> -->
      <ion-grid>
        <ion-row>
          <ion-col slze="4">
            Amount:
          </ion-col>
          <ion-col slze="4">
            Type:
          </ion-col>
          <ion-col slze="2">
            <ion-icon name="help-circle-outline"></ion-icon>
          </ion-col>
          <ion-col slze="2">
            <ion-icon size="large" name="pencil-outline"></ion-icon>
          </ion-col>
  
        </ion-row>
      </ion-grid>

    <!-- </ion-card-content> -->
  </ion-card>
</ion-content>